* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

body {
}


#header {
    height: 20vh;
    width: auto;
    background-color: orange;
}

#main {
    height: 80vh;
    width: auto;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 55vh;
    height: 55vh;
    background-color: rgb(256 256 256/ 58%);
    display: block;
    border: 5px solid white;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
}

.squre {
    background-color: black;
    border: 3px solid white;
    flex: auto;
    width: auto;
    height: auto;
}

